<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>ShitStorm.cz - uragán nesmyslů</title>
    <link rel="stylesheet" href="/styles.css">
    <meta name="keywords" content="shitstorm, hnojomety, hovnomety, 2023">
    <meta name="author" content="Petr Tománek">
</head>

<body>
<div id="shit-bg"> </div>
<div id="logo">
    <a href="/"><img src="/shitstorm.png" alt="Shitstorm logo"/></a>
</div>
<section class="section">
    <div class="container">
        {% block content %} {% endblock %}
    </div>
</section>
</body>

</html>